*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #f0eae3;
    --color-primary: #392f27;
    --color-secundary: #ddd8c5;
    --colro-tertiary: #c3b9b1;
  }

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-primary);
  }
  
  .hero {
    max-width: 100dvw;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--color-bg) 50%, var(--color-primary) 50%);
    position: relative;
  }

  .hero-content{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .hero .text-content {
    flex: 1 1 300px; /* crece, encoge, y mínimo 300px */
  min-width: 350px;
  max-width: 500px;
  }
  
  .hero h1 {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
  }
  
  .hero p {
    font-size: 1rem;
    color: var(--color-primary);
  }
  
  .collection {
    background-color: var(--color-secundary);
    padding: 3rem 2rem;
    text-align: center;
  }
  
  .collection h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    justify-items: center;
  }
  
  .view-all-btn {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--colro-tertiary);
    color: var(--color-primary);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease-in-out;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }

  .view-all-btn:hover{
    background-color: var(--color-primary);
    color: var(--colro-tertiary);
    transform: scale(1.05);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      background: var(--color-bg);
    }

    .hero-content{
      flex-direction: column;
    }
  
    .hero .text-content,
    .hero .image-content {
      max-width: 100%;
      text-align: center;
    }
  
    .collection{
      flex-wrap: wrap;
    }
  }